apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: backend-data
  namespace: simulator-poste
  labels:
    app: simulator-poste-backend
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
